{
    "server": {
        "port": {{ getv "/configuration/server/port" "3009" }}
    },
    "fileSystem": {
        "workflowsPath": "{{ getv "/configuration/fileSystem/workflowsPath" "./workflows" }}"
    },
    "validator": {
        "workflowFields": {{ getv "/configuration/validator/workflowFields" "[\"name\", \"activities\"]" }},
        "dynamicActivityFields": {{ getv "/configuration/validator/dynamicActivityFields" "[\"action\", \"method\", \"additional\"]" }},
        "dynamicActivityNameValues": {{ getv "/configuration/validator/dynamicActivityNameValues" "[\"dynamicActivityNameValues\"]" }},
        "ingestFields": {{ getv "/configuration/validator/ingestFields" "[\"imageMetaData\", \"action\"]" }}
    },
    "logger": {
        "level": "{{ getv "/configuration/logger/level" "info"}}",
        "log2file": {{ getv "/configuration/logger/log2file" "true"}}
    }   
}
